includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - database

    level: 8

    tmpDir: storage/framework/cache/phpstan

    checkModelProperties: true
